
.vs/BooruImageDownloader/DesignTimeBuild/

.vs/BooruImageDownloader/FileContentIndex/

.vs/BooruImageDownloader/v17/

.vs/ProjectEvaluation/

BooruImageDownloader/bin/Debug/net6.0-windows/

BooruImageDownloader/obj/
